@using MvcCv.Models.Entitiy
@model List<TblDeneyimler>

<div class="resume-section-content">
    <h2 class="mb-5">Deneyimlerim</h2>
    @foreach (var x in Model)
    {
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">@x.Baslik</h3>
                <div class="subheading mb-3">@x.AltBaslik</div>
                <p>@x.Aciklama</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">March 2013 - Present</span></div>
        </div>
    }
</div>