
<div class="resume-section-content">
    <form method="post">
        <h2 class="mb-5">İletişim</h2>
        <label> Ad Soyad </label>
        <input type="text" class=" form-control" name="Adsoyad" />

        <label> Mail</label>
        <input type="text" class=" form-control" name="Mail" />

        <label> Konu </label>
        <input type="text" class=" form-control" name="Konu" />

        <label> Mesaj </label>
        <input type="text" class=" form-control"  name="Mesaj"/>
        <br />
        <button class=" btn btn-info">Mesaj Gönder</button>
    </form>
</div>