@using MvcCv.Models.Entitiy
@model List<TblSertifikalarım>
<div class="resume-section-content">
    <h2 class="mb-5">Ödüller & Sertifikalarım</h2>
    <ul class="fa-ul mb-0">
        @foreach(var item in Model) { 
        <li>
            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
            @item.Aciklama
        </li>
    
        
        }
    </ul>

</div>
