@using MvcCv.Models.Entitiy
@model List<TblSosyalMedya>
<div class="social-icons">
    @foreach(var item in Model) {
    <a class="social-icon" href="@item.Link"><i class="@item.ikon"></i></a>
    }
</div>

