@using MvcCv.Models.Entitiy
@model List<TblYetenekler>
<div class="resume-section-content">
    <h2 class="mb-5">Yeteneklerim</h2>
    <div class="subheading mb-3">Programlama Dilleri & Araçlar</div>
    <ul class="list-inline dev-icons">
        <li class="list-inline-item"><i class="fab fa-html5"></i></li>
        <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
        <li class="list-inline-item"><i class="fab fa-js-square"></i></li>
        <li class="list-inline-item"><i class="fab fa-angular"></i></li>
        <li class="list-inline-item"><i class="fab fa-react"></i></li>
        <li class="list-inline-item"><i class="fab fa-node-js"></i></li>
        <li class="list-inline-item"><i class="fab fa-sass"></i></li>
        <li class="list-inline-item"><i class="fab fa-less"></i></li>
        <li class="list-inline-item"><i class="fab fa-wordpress"></i></li>
        <li class="list-inline-item"><i class="fab fa-gulp"></i></li>
        <li class="list-inline-item"><i class="fab fa-grunt"></i></li>
        <li class="list-inline-item"><i class="fab fa-npm"></i></li>
    </ul>
    <div class="subheading mb-3">Becerilerim</div>
    <ul class="fa-ul mb-0">
        @foreach(var x in Model) {
        <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>
            @x.Yetenek
        </li>
        }
    </ul>
</div>