
@{
    ViewBag.Title = "DeneyimEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h4>Yeni Deneyim Ekleme Sayfası</h4>
<br />
<form method="post">

    <input type="text" name="Baslik" class="form-control" placeholder="Başlığı yazınız..." />
    <br />
    <input type="text" name="AltBaslik" class="form-control" placeholder="Allt Başlığı yazınız..." />
    <br />
    <textarea placeholder="Acçıklamayı yazınız..." name="Aciklama" class="form-control " rows="5"></textarea>
    <br />
    <input type="text" name="Tarih" class="form-control" placeholder="Çalışma Tarihi..." />

    <br />
    <button class="btn btn-info"> Kaydet</button>

</form>