
@{
    ViewBag.Title = "AdminEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h4>Yeni Kullanıcı Ekleme Sayfası</h4>
<br />
<form method="post">

    <input type="text" name="KullaniciAdi" class="form-control" placeholder="Kullanıcı Adı yazınız..." />
    <br />
    <input type="text" name="Sifre" class="form-control" placeholder="Şifrenizi Giriniz..." />
    <br />
    <button class="btn btn-info"> Kaydet</button>

</form>

