
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 3 | Project Add</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/AdminLTE-3.0.4/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="/AdminLTE-3.0.4/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">
        <!-- Navbar -->
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="/Default/Index/" class="brand-link">
                <img src="/AdminLTE-3.0.4/dist/img/AdminLTELogo.png"
                     alt="AdminLTE Logo"
                     class="brand-image img-circle elevation-3"
                     style="opacity: .8">
                <span class="brand-text font-weight-light">Siteye Git</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="/AdminLTE-3.0.4/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">Admin Paneli</a>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
                        <li class="nav-item has-treeview">
                            <a href="/Hakkimda/Index" class="nav-link">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    Hakkımda
                                </p>
                            </a>

                        </li>
                        <li class="nav-item">
                            <a href="/Egitim/Index" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    Eğitimlerim
                                </p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="/Deneyim/Index/" class="nav-link">
                                <i class="nav-icon fas fa-copy"></i>
                                <p>
                                    Deneyimlerim
                                </p>
                            </a>

                        </li>
                        <li class="nav-item has-treeview">
                            <a href="/Hobi/Index" class="nav-link">
                                <i class="nav-icon fas fa-chart-pie"></i>
                                <p>
                                    Hobilerim

                                </p>
                            </a>

                        </li>
                        <li class="nav-item">
                            <a href="/Yetenek/Index/" class="nav-link">
                                <i class="nav-icon far fa-calendar-alt"></i>
                                <p>
                                    Yeteneklerim
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Sertifikalar/Index/" class="nav-link">
                                <i class="nav-icon far fa-image"></i>
                                <p>
                                    Sertifikalarım
                                </p>

                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/İletisim/Index/" class="nav-link">
                                <i class="nav-icon far fa-image"></i>
                                <p>
                                    İletişim
                                </p>

                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/SosyalMedya/Index/" class="nav-link">
                                <i class="nav-icon fas fa-code"></i>
                                <p>
                                    Sosyal Medya
                                </p>

                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admin/Index/" class="nav-link">
                                <i class="nav-icon fas fa-pen"></i>
                                <p>
                                   Ayarlar
                                </p>

                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Login/LogOut/Index/" class="nav-link">
                                <i class="nav-icon fas fa-sign"></i>
                                <p>
                                    Çıkış
                                </p>

                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-md-12">
                        @RenderBody()

                    </div>
                </div>
            </section>
        </div>

    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="/AdminLTE-3.0.4/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="/AdminLTE-3.0.4/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/AdminLTE-3.0.4/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="/AdminLTE-3.0.4/dist/js/demo.js"></script>
</body>
</html>

